<!--
    Scope:

    - actual-score directives's scope is 'vm'
    - popover's scope is the implicit scope
-->
<form ng-submit="$hide()">
    <div class="form-group">
        <label for="{{::vm.rawScoreInputId}}">Score for {{::vm.roundScore.player}}</label>
        <input type="number" class="form-control" data-instafocus id="{{::vm.rawScoreInputId}}" ng-model="vm.roundScore.rawScore"/>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="vm.roundScore.gotShanghai"> Shanghai (2x others)
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="vm.roundScore.perfectDeal"> Perfect Deal (-5)
        </label>
    </div>
    <input type="submit" class="btn btn-primary" value="Done"/>
</form>
