<!--
    Scope:

    - actual-score directives's scope is 'vm'
    - popover's scope is the implicit scope
-->
<form>
    <div class="form-group">
        <input type="number" ng-model="vm.roundScore.rawScore"/>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="vm.round.shanghai"> Shanghai (2x)
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="vm.roundScore.perfectDeal"> Perfect Deal (-5)
            </label>
        </div>
    </div>
</form>
<button ng-click="$hide()" class="btn btn-primary">Done</button>