<div class="row">
    <div class="col-xs-6">
        <strong>Started:</strong> {{vm.game.startTime | date:'short'}}
    </div>
    <div class="col-xs-6">
        <strong>Session Duration:</strong> {{vm.minutesElapsed | duration}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered">
            <tr>
                <th></th>
                <th ng-repeat="player in vm.game.players">
                    {{player}}
                </th>
            </tr>
            <tr wild-row game="vm.game"></tr>
            <tr round-row ng-class="{active: round.active}" ng-repeat="round in vm.game.rounds" round="round"></tr>
            <tr total-row game="vm.game"></tr>
        </table>

        <button ng-show="vm.game.isDone()" ng-click="vm.gameOver()" class="btn btn-primary">Return to Title</button>
    </div>
</div>